{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dinheirinho - Índice{% endblock title %}
<!-- {% block description %} {% endblock description %} -->

{% block body %}

 <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4 mb-3">Lista de Vídeos</h1>
                <ol>
                    {% for video in videos %}
                        <li><a href="{{ video.get_absolute_url }}">{{ video.titulos | default:"Faltando Título" }}</a></li>
                    {% empty %}
                        <li>Não foi encontrado nenhum vídeo</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

<p></p>
<!-- Inicio card -->

<!-- Fim Card -->
{% endblock body %}