{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dinheirinho - Vídeos{% endblock title %}
<!--  {% block description %} {% endblock description %} -->

{% block body %}


<p></p>
<!-- Inicio card -->
<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>{{ video.titulos | default:"Faltando Título" }}</b></h5>
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/{{ video.yt_id }}"
                                title="Saiba como usar a tecnologia para ajudar na organização financeira"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Card -->
{% endblock body %}