DEBUG=False
SECRET_KEY=Defina sua chave
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=postgres://nkpro:nkpro@localhost:5434/nkdb

# Config django_debug_toolbar
INTERNAL_IPS=127.0.0.1

# Config do AWS

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=