{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<!-- Template base para navbar e rodapé -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Dinheirinho Smart Gestão!{% endblock title %}</title>

    <meta name="description" content="{% block description %}Dinheirinho{% endblock description %}">
    <meta name="author" content="NK!">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <link href="{% static 'css/nav.css' %}" rel="stylesheet">


    <script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>




<!-- COMEÇO NAVBAR -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a href="{% url 'base:home' %}">
            <img src="{% static 'img/pig.png' %}" alt="" width="44" height="44"
                 class="d-inline-block align-text-top"></a>
	<div href="#" class="navbar-brand">Dinheirinho<b>APP</b></div>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="{% url 'base:home' %}" class="nav-item nav-link"><b>Home</b></a>
			<a href="{% url 'base:sobre' %}" class="nav-item nav-link"><b>Sobre</b></a>
			<div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle"><b>Extras</b></a>
				<div class="dropdown-menu">
					{% for modulo in MODULOS %}
					<li><a class="dropdown-item" href="{{ modulo.get_absolute_url }}">{{ modulo.titulo }}</a></li>
                    <li><hr class="dropdown-divider"></li>
					{% endfor %}
                </div>
            </div>
			<a href="{% url 'base:contatos' %}" class="nav-item nav-link"><b>Contato</b></a>
        </div>
		<div class="navbar-nav action-buttons ml-auto">
			<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle mr-3"><b>Login</b></a>
			<div class="dropdown-menu login-form">
				<form action="/examples/actions/confirmation.php" method="post">
					<div class="form-group">
						<label>Email</label>
						<input type="text" class="form-control" required="required">
					</div>
					<div class="form-group">
						<div class="clearfix">
							<label>Senha</label>
							<a href="#" class="float-right text-muted"><small>Esqueceu?</small></a>
						</div>
						<input type="password" class="form-control" required="required">
					</div>
					<input type="submit" class="btn btn-primary btn-block" value="Login">
				</form>
			</div>
			<a href="{% url 'registro:signup' %}" class="btn btn-primary"><b>Registrar-se</b></a>
		</div>
	</div>
</nav>
</head>
<!-- FIM NAVBAR -->



<div class="container-fluid">
        <div class="row justify-content-md-center">
            <div class="col">
                <h5 class="m-1">Redes Sociais</h5>
                <address>
                    <a href='{% url "base:home" %}'> <!-- MUDAR -->
                        <img src="{% static 'img/instagram.png' %}" alt="" width="38" height="38"
                             class="d-inline-block align-text-top"></a>
                    <a href='{% url "base:home" %}'> <!-- MUDAR -->
                        <img src="{% static 'img/linkdin.png' %}" alt="" width="38" height="38"
                             class="d-inline-block align-text-top"></a>
                </address>
            </div>
        </div>
        <div class="container-fluid">
            <div class="direitos pb-2">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <div class="fw-lighter mt-2">
                            © {% now 'Y' %} Dinheirinho (Brasil) S.A.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>