{% load static %}
<div class="container-fluid">
    <footer class="rodape mt-3 pt-1">
        <div class="row justify-content-md-center">
            <div class="col">
                <h5 class="m-1">Contato</h5>
                <address>
                    <a href="mailto:{{contato_email}}">
                        <img src="{% static 'img/mail.png' %}" alt="" width="38" height="38"
                             class="d-inline-block align-text-top"></a>
                    <a href='{% url "base:home" %}'> <!-- MUDAR -->
                        <img src="{% static 'img/instagram.png' %}" alt="" width="38" height="38"
                             class="d-inline-block align-text-top"></a>
                    <a href='{% url "base:home" %}'> <!-- MUDAR -->
                        <img src="{% static 'img/linkdin.png' %}" alt="" width="38" height="38"
                             class="d-inline-block align-text-top"></a>
                </address>
            </div>
        </div>
        <div class="container-fluid">
            <div class="direitos pb-2">
                <div class="row justify-content-md-center">
                    <div class="col">
                        <div class="fw-lighter mt-2">
                            © {% now 'Y' %} Dinheirinho (Brasil) S.A.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>