{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dinheirinho - Home{% endblock title %}
<!-- {% block description %} {% endblock description %} -->

{% block body %}

        <!-- Inicio Carrossel -->
<div class="container">
    <div class="col-md-12">
        <br>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="8000">
                    <img src="{% static 'img/pratico.jpg'%}" width="500" height="360"
                         class="container-fluidd-block w-100" alt="Prático">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Prático</h5>
                        <p>Poucos clicks e está tudo anotado!</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="8000">
                    <img src="{% static 'img/acesso.jpeg'%}" width="500" height="360"
                         class="container-fluidd-block w-100" alt="De qualquer lugar">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Controle</h5>
                        <p>Acesse suas informações de qualquer lugar!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/data.jpg'%}" width="500" height="360"
                         class="container-fluidd-block w-100" alt="De qualquer lugar">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Lembretes</h5>
                        <p>Pagamentos, cobranças, siga o planejamento!</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Fim Carrossel -->

        <!-- Inicio Texto -->
        <div class="row-sm-6">
            <br>
            <h2 class="bg-success p-2" style="--bs-bg-opacity: .5;">
                Hello, world!
            </h2>
            <p>
                O Dinheirinho pretende tornar mais intuitivo o registro de compras e cobranças.
                Permitindo organizar, controlar e planejar as finanças. Tenha mais tempo para aproveitar
                a vida!
            </p>
        </div>
    </div>
</div>

<!-- Inicio inscrição -->
<div class="container">
    <h4>Faça parte da lista de espera!</h4>

   <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=3d7cd622a9043c33f45f1cd22&amp;id=3fe518ae20"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>

    <div class="row g-3">
            <div class="col-sm-3">
                <label class="visually-hidden" for="mce-FNAME"></label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                       placeholder="Seu Nome">
            </div>
            <div class="col-sm-3">
                <label class="visually-hidden" for="mce-EMAIL"></label>
                <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                       placeholder="exemplo@email.com">

            </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                  name="b_3d7cd622a9043c33f45f1cd22_3fe518ae20"
                                                                                  tabindex="-1" value="">
        </div>

        <div class="col-sm-3">
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                    class="btn btn-primary">Inscrever-se
            </button>
        </div>
    </div>
   </form>
</div>
<!-- Fim inscrição -->
<p></p>
<!-- Inicio card -->
<div class="container">
    <div class="row row-cols-1 row-cols-md">
        <div class="col">
            <div class="card">
                <img src="{% static 'img/git.png' %}" class="img-thumbnail-center" width="96" height="96">
                <div class="card-body">
                    <h5 class="card-title">GitHub</h5>
                    <p class="card-text">Contribua com o nosso repositório.</p>
                    <a class="btn btn-primary btn-large" href="https://github.com/wnneto/dinheirinho">
                        Acesse</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Card -->

{% endblock body %}