{% extends 'base/base.html' %}
{% load static %}
{% block title %}Dinheirinho - Home{% endblock title %}
<!-- {% block description %} {% endblock description %} -->

{% block body %}



        <!-- Inicio Carrossel -->
        <div style='text-align:center;'>
        <IMG SRC="{% static 'img/layout.gif' %}" width="200"></div>

        <!-- Fim Carrossel -->

        <!-- Inicio Texto -->
<div class="container">
        <div class="row-sm-6">
            <br>
            <h2 class="bg-success p-2" style="--bs-bg-opacity: .5;">
                Hello, world!
            </h2>
            <p>
                O Dinheirinho pretende tornar mais intuitivo o registro de compras e cobranças.
                Permitindo organizar, controlar e planejar as finanças. Tenha mais tempo para aproveitar
                a vida!
            </p>
        </div>
</div>


<!-- Inicio inscrição -->
<div class="container">
    <h4>Faça parte da lista de espera!</h4>

   <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=3d7cd622a9043c33f45f1cd22&amp;id=3fe518ae20"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>

    <div class="row g-3">
            <div class="col-sm-3">
                <label class="visually-hidden" for="mce-FNAME"></label>
                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"
                       placeholder="Seu Nome">
            </div>
            <div class="col-sm-3">
                <label class="visually-hidden" for="mce-EMAIL"></label>
                <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"
                       placeholder="exemplo@email.com">

            </div>

        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                  name="b_3d7cd622a9043c33f45f1cd22_3fe518ae20"
                                                                                  tabindex="-1" value="">
        </div>

        <div class="col-sm-3 mt-4">
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                    class="btn btn-primary">Inscrever-se
            </button>
        </div>
    </div>
   </form>
</div>
<!-- Fim inscrição -->
<p></p>


{% endblock body %}